.promo {
    margin-bottom: 63px;
}
.promo__content {
    display: flex;
    column-gap: 24px;
    padding: 68px 80px 0 120px;
    border-radius: 59px;
    background-color: var(--bg-promo);
}

.promo__text {}

.promo__text h1 {
    max-width: 480px;
    margin: 9px 0 40px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.2;
}

.promo__desc {
    margin: 0 0 35px 0;
    white-space: nowrap;
    font-size: 32px;
}

.promo__btn-wrapper {
    display: flex;
    align-items: center;
    column-gap: 34px;
    height: 82px;
}

.promo__btn-wrapper span {
    content: '';
    position: absolute;
    width: 190px;
    height: 32px;
    background-image: url('./img/promo-btn-decor.svg');
}

.promo__btn-wrapper button {
    margin: 0 0 0 224px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 82px;
    border-radius: 10px;
    color: #fff;
    background-color: #000;
    font-weight: 400;
    font-size: 30px;
}

.promo__img {
    max-width: 100%;
}