.mobile {
    padding: 100px 0 150px 0;
}

.mobile .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 150px;
}
.mobile__content {
    width: 520px;
}

.mobile__title {
    margin: 0 0 41px 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.mobile__text {
    padding: 0 0 65px 0;
    font-weight: 500;
    font-size: 24px;
    color: var(--grayText);
}

.mobile__icons {
    display: flex;
    gap: 20px;
}
